* {
  margin: 0px;
}


.mainwrp {
  max-width: 500px;
  border: 1px solid black
}

.wrp {
  border-radius: 20px;  
  max-width: 200px;
  padding: 10px;
}

.user {
  border-bottom: 1px solid black
}

.text {
   word-wrap: break-word;
}

.bot {
  background: gray;  
}

.human {
  margin-left: auto;
  background: green;
}